.container {
  height: 100%;
  margin: 3px;
  overflow: auto;
  min-height: 80%;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
